/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

/* CUSTOM PROPERTES*/
:root {
  --header-height: 60px;
}

body {
  /* background-color: black; */
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}

.wide-test {
  width: 1200px;
  /* display: flex; */
  /* flex: 1; */
  /* height: 100%; */
  /* margin-bottom: auto; */
}

.header {
  --header-color: rgb(0, 0, 0);
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  z-index: 5;
  height: var(--header-height);
  background-color: var(--header-color);
  border-bottom: 2px solid rgb(193, 232, 250);

  filter: drop-shadow(0px 0px 5px var(--header-color));

  display: flex;
  align-items: center;
}

.footer {
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* Name */

.glow {
  filter: drop-shadow(0px 0px 5px rgb(212, 0, 255));
}

#ck-name {
  font-family: "Rajdhani", sans-serif;
  font-size: 80pt;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.project-card {
  width: 400px;
  height: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  /* background-color: red; */
  background: linear-gradient(to top, rgb(36, 36, 36), 10%, black 25%, black);
  overflow: hidden;
}

#background-video {
  height: 100%;
  position: absolute;
  /* Adjust this to position video */
  left: -350px;
}

.about-card {
  width: 500px;
  height: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}

.blog-card {
  width: 500px;
  height: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}

.parallax-outer .no-background {
  /* background: none; */
  background-color: red;
}

#home-filler-panel {
  width: calc(100vw - 60px);
  max-width: 1500px;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
}

.section-divider {
  background-color: white;
  color: grey;
  height: calc(100vh - var(--header-height));
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0px 0px 15px rgba(241, 134, 187, 0.685));
  clip-path: polygon(-50px 100%, -50px 0%, 100% 0%, 100% 100%);
}

.divider-text {
  font-size: 18pt;
  writing-mode: vertical-rl;
  margin: 0;
}

.solid-background {
  background-color: black;
}
